<p>Dear users</p>

<p>Ziply has sent you a promotional code: <%=@coupon_code.code%> Please copy and enter the promotional code to the menu of your app and your (amount of) discount will be applied to your next order.</p>