<section class="z_contnt">
  <div class="container">
    <div class="z_Drivers z_100">
      <div class="z_100 m-b-4">
        <div class="z_driv_in">
          <h1>Our Drivers</h1>

          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta malesu
            ada magna mollis euismod. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.
            Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posue
            velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget.</p>
        </div>
        <!--z_driv_in-->
        <div class="z_d_verified"><img src="/assetsverified.png"></div>
        <!--z_d_verified-->
      </div>
      <!--z_100-->
      <div class="z_100">
        <div class="z_driver z_100">
          <div class="z_b_drivr_img"><img src="/assets/d-p-img1.png"></div>
          <!--z_b_drivr_img-->
          <div class="z_bd_in">
            <div class="z_bdrivr_det">
              <div class="z_drivr_info f-l">
                <h2>Carlos Mendez</h2>

                <p>Santa Monica, Ca</p>
              </div>
              <!--z_drivr_info-->
              <div class="z_drivr_info f-r">
                <div class="zrev">(22 Reviews)</div>
                <!--zrev-->
                <div class="zrev_star">
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star"><i class="fa fa-star"></i></div>
                  <!--star-->
                </div>
                <!--zrev_star-->
                <a href="#">Rate</a>
              </div>
              <!--z_drivr_info-->
            </div>
            <!--z_bdrivr_det-->
            <div class="z_drivr_info z_100">
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta malesuada
                magna et
                mollis euismod. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Nullam id dolor
                id nibh mollis
                ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis
                mollis, est non.</p>
            </div>
            <!--z_drivr_info-->
          </div>
          <!--z_bd_in-->
        </div>
        <!--z_driver-->
        <div class="z_driver z_100">
          <div class="z_b_drivr_img"><img src="/assets/d-p-img2.png"></div>
          <!--z_b_drivr_img-->
          <div class="z_bd_in">
            <div class="z_bdrivr_det">
              <div class="z_drivr_info f-l">
                <h2>Sarah Brown</h2>

                <p>Los Angeles, Ca</p>
              </div>
              <!--z_drivr_info-->
              <div class="z_drivr_info f-r">
                <div class="zrev">(22 Reviews)</div>
                <!--zrev-->
                <div class="zrev_star">
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star"><i class="fa fa-star"></i></div>
                  <!--star-->
                </div>
                <!--zrev_star-->
                <a href="#">Rate</a>
              </div>
              <!--z_drivr_info-->
            </div>
            <!--z_bdrivr_det-->
            <div class="z_drivr_info z_100">
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta malesuada
                magna et
                mollis euismod. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Nullam id dolor
                id nibh mollis
                ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis
                mollis, est non.</p>
            </div>
            <!--z_drivr_info-->
          </div>
          <!--z_bd_in-->
        </div>
        <!--z_driver-->
        <div class="z_driver z_100">
          <div class="z_b_drivr_img"><img src="/assets/d-p-img3.png"></div>
          <!--z_b_drivr_img-->
          <div class="z_bd_in">
            <div class="z_bdrivr_det">
              <div class="z_drivr_info f-l">
                <h2>Walter White</h2>

                <p>Hollywood, Ca</p>
              </div>
              <!--z_drivr_info-->
              <div class="z_drivr_info f-r">
                <div class="zrev">(22 Reviews)</div>
                <!--zrev-->
                <div class="zrev_star">
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star active"><i class="fa fa-star"></i></div>
                  <!--star-->
                  <div class="star"><i class="fa fa-star"></i></div>
                  <!--star-->
                </div>
                <!--zrev_star-->
                <a href="#">Rate</a>
              </div>
              <!--z_drivr_info-->
            </div>
            <!--z_bdrivr_det-->
            <div class="z_drivr_info z_100">
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta malesuada
                magna et
                mollis euismod. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Nullam id dolor
                id nibh mollis
                ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis
                mollis, est non.</p>
            </div>
            <!--z_drivr_info-->
          </div>
          <!--z_bd_in-->
        </div>
        <!--z_driver-->
      </div>
      <!--z_100-->
      <div class="z_100">
        <div class="become_drvr_btn">
          <a class="z_orngbig_btn" href="/become-driver">Become a Driver</a>
        </div>
        <!--become_drvr_btn-->
      </div>
      <!--z_100-->
    </div>
    <!--z_Drivers-->
  </div>
  <!--container-->
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $(document.body).addClass('odbg');
    })

    $(".become_d1").click(function () {
        $("#ajax_loader").show();
        $(".shadow").show();
        $.ajax({
            url: '/home/become_driver',
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $("#pop_up_div").html(data);
                $("html, body").animate({ scrollTop: 190 }, "slow");
                $("#ajax_loader").hide();
                $(".shadow").hide();
            }
        });
    });
</script>