<%- title "Shipping Policy - Goziply" %>
<section class="about_sec" id="about">
	<div class='container01'>
<div class='support'>
	<h1>Shipping Policy</h2>
	<h2>Ziply Policy</h2>
	<table>
		<tr>
			<th></th>
			<th>Examples</th>
		</tr>
		<tr>
			<td>Alcohol &amp; Tobacco</td>
			<td>Prohibited in these markets: <strong>Austin, Seattle, Boston, Denver, Las Vegas, Philadelphia, Dallas, Houston, Phoenix, Portland, San Antonio, Minneapolis, Charlotte, Nashville, Virginia Beach.</strong></td>
		</tr>
		<tr>
			<td>Animals and regulated species</td>
			<td>Animal parts, blood, or fluids; noxious weeds; prohibited seeds; plants or other organisms (including product derivatives) in danger of extinction or whose trade is otherwise regulated by law.</td>
		</tr>
		<tr>
			<td>Child pornography</td>
			<td>Pornographic materials involving minors, or content that can be perceived as pedophilia erotica.</td>
		</tr>
		<tr>
			<td>Copyright media and software</td>
			<td>Unauthorized copies of books, music, movies, and other licensed or protected materials including copies without proper attribution; and unauthorized copies of software, video games and other licensed or protected materials, including OEM or bundled software software, or other products enabling unsolicited email messages.</td>
		</tr>
		<tr>
			<td>Counterfeit and unauthorized goods</td>
			<td>Replicas or imitations of designer or other goods; items without a celebrity endorsement that would normally require such an association; fake autographs; currency; stamps, tickets; other potentially unauthorized goods.</td>
		</tr>
		<tr>
			<td>Devices or techniques for unlocking technical protection measures</td>
			<td>Modchips or other devices for circumventing technical protection measures on digital devices, including for unlocking iPhones.</td>
		</tr>
		<tr>
			<td>Drugs and drug paraphernalia</td>
			<td>Controlled substances, narcotics, illegal drugs, and drug accessories, including psychoactive and herbal drugs such as salvia and magic mushrooms and materials promoting their use; or legal substances, such as plants or herbs, in a manner that suggests ingesting, inhaling, extracting or otherwise using any substance or compound from the legal substance will provide the same effect as an illegal drug, compound or substance or that will provide unsubstantiated health benefits.</td>
		</tr>
		<tr>
			<td>Gaming/gambling</td>
			<td>Lottery tickets, sports bets, memberships/enrollment in online gambling sites, and related content. Promotion of offline brick and mortar casinos is allowed.</td>
		</tr>
		<tr>
			<td>Hacking and cracking materials</td>
			<td>Manuals, how-to guides, information, or equipment that violate the law by damaging or enabling unlawful access to software, servers, websites, or other protected property.</td>
		</tr>
		<tr>
			<td>Human parts</td>
			<td>Organs or other body parts; body fluids; stem cells; embryos.</td>
		</tr>
		<tr>
			<td>Illegal/Stolen goods</td>
			<td>Materials, products, or information promoting illegal goods or enabling illegal acts; goods you do not own or have the right to sell; goods produced in violation of a third party's rights; smuggled goods and goods in violation of export, import or labeling restrictions; motor vehicles subject to transfer restriction; goods recorded on public registers (such as real estate) and whose transfer requires formalities that cannot be legally completed online. <em>You (Ziply Customer) are solely and completely responsible for verifying that all items you sell are authentic and legal.</em></td>
		</tr>
		<tr>
			<td>Illegal telecommunications equipment</td>
			<td>Devices intended to obtain cable and satellite signals for free, cable descramblers and black boxes, access cards, access card programmers and unloopers, unlawful tools or products to modify cellular telephones, and other equipment deemed unlawful by the Federal Communications Commission (FCC) or other competent regulatory body in the country in which the goods are offered for sale.</td>
		</tr<>
		<tr>
			<td>Miracle cures</td>
			<td>Unsubstantiated cures, remedies or other items marketed as quick health fixes.</td>
		</tr>
		<tr>
			<td>Offensive goods</td>
			<td> Goods, literature, products, or other materials that: 
				<ul>
					<li>Defame or slander any person or groups of people based on race, ethnicity, national origin, religion, sex, or other factors</li>
					<li>Defame or slander any person or groups of people protected from defamation or slander by applicable law (such as the protection afforded to the royal family in some jurisdictions)</li>
					<li>Encourage or incite violent acts</li>
					<li>Promote intolerance or hatred</li>
					<li>Promote or support membership in terrorist groups or other organizations prohibited by law</li>
					<li>Promote revisionist theories prescribed by applicable law</li>
					<li>Contravene public morality</li>
			</ul></td>
		</tr>
		<tr>
			<td>Offensive goods, crime</td>
			<td>Crime scene photos or items, such as personal belongings, associated with criminals or criminal acts.</td>
		</tr>
		<tr>
			<td>Precious materials</td>
			<td>Bulk sales of rare, scarce, or valuable metals or stones.</td>
		</tr>
		<tr>
			<td>Protected cultural items and artifacts</td>
			<td>Material covered by the UNESCO 1970 Convention on the Means of Prohibiting and Preventing the Illicit Import, Export and Transfer of Ownership of Cultural Property or otherwise restricted by law from sale, export or transfer; Artifacts, cave formations (speleothems, stalactites, and stalagmites) and grave-related items that are protected under federal laws, such as The Federal Cave Resources Protection Act of 1988, and the Native American Grave Protection and Repatriation Act</td>
		</tr>
		<tr>
			<td>Pyrotechnic devices and hazardous materials</td>
			<td>Fireworks and related goods in markets where delivery of such goods are ; toxic, flammable, and radioactive materials and substances;gunpowder; explosives, gasoline, propane tanks.</td>
		</tr>
		<tr>
			<td>Regulated goods</td>
			<td>Air bags; batteries containing mercury; Freon or similar substances/refrigerants; chemical/industrial solvents; medical procedures; car number plates; police badges and law enforcement equipment; lock-picking devices; medical devices; pesticides and insecticides; postage meters; passive fitness equipment and electrostimulators; recalled items; slot machines; surveillance equipment that is primarily used to obtain unlawful interception of wire, oral, or electronic communications and/or to facilitate the unlawful view or recording of individuals; goods regulated by government or other agency specifications.</td>
		</tr>
		<tr>
			<td>Traffic devices</td>
			<td>Radar jammers, license plate covers, traffic signal changers, and related products</td>
		</tr>
		<tr>
			<td>Weapons</td>
			<td>Firearms, ammunition, and other items including but not limited to firearms, disguised, undetectable or switchblade knives, martial arts weapons, silencers, ammunition, ammunition magazines, BB guns, and tear gas.</td>
		</tr>
		<tr>
			<td>Wholesale currency</td>
			<td>Discounted currencies or currency exchanges; currency backed by precious metals.</td>
		</tr>
		<tr>
			<td>Primary &amp; Secondary School/Underage Delivery</td>
			<td>We have the right to refuse service to all users under 18 years of age. In addition, we have the right to refuse delivery to any locations in or around a primary or secondary school campus.</td>
		</tr>
		<tr>
			<td>Misuse of Platform/Abuse</td>
			<td>We have no tolerance for abusive language and/or abusive behavior towards our company and/or service we provide and/or our employees and/or Ziply (couriers). Any customer deemed at our sole discretion to be abusive to our company and/or service we provide and/or our employees and/or Ziply (couriers) will result in immediate irrevocable account termination without any refund. Threats to sue, slander, libel, etc., are all considered forms of abuse and will result in immediate irrevocable account termination without any refund.</td>
		</tr>
		<tr>
			<td>Misc. Items</td>
			<td>Prepaid cards, gift-cards, passes, monetary collectibles (stamps, coins etc.) all prohibited.</td>
		</tr>
	</table>
</div>
</div>
</section>
