<%- title "Support - Goziply" %>

<section class="about_sec" id="about">
  <div class="container02">
    <div class="support">
      <h2>Support</h2>
      <p>Ziply’s on-demand shipping service offers 24/7 support. If you have any inquiries that aren’t addressed below in our Frequently Asked Questions, please feel free to shoot us an email at support@goziply.com and we’ll get back to you shortly.</p>
      <h3>Frequently Asked Questions</h3>
    </div>
    <div id="accordion">
      <h3>When can I place a delivery?
      </h3>
      <div>
        <p>Anytime! We are open 24/7.
        </p>
      </div>
      <h3>How quickly can I receive a delivery?
      </h3>
      <div>
        <p>Pretty quickly. Once your Zipster confirms they are en route to pick up your package, a timetable will be delivered depending on the distance between you and the final destination.
        </p>
      </div>
      <h3>What kinds of things can Ziply deliver?
      </h3>
      <div>
        <p>Anything — except for products that are illegal for us to deliver. For a full list of restricted products, <a href="/shipping-policy">click here</a>.
        </p>
      </div>
      <h3>How does the Ziply process work?</h3>
      <div>
        <p>Ziply brings transparency and efficiency to every single job. Once a delivery job has been dispatched, Ziply enables direct communication between you and your courier — meaning no more having to go through third-party communications or telephone "middlemen.” You and your courier will be able to contact each other via the Ziply platform, allowing seamless communications throughout the delivery.

          You can also track deliveries online and receive real-time notifications showing delivery status each step of the way. And you will know immediately when the delivery is signed for with our digital signatures.

        </p>
      </div>
      <h3>How do I request someone with a van or car?
      </h3>
      <div>
        <p>When you are placing your new delivery request, make sure to put in the proper dimensions and weight so our Zipsters are prepared. We dispatch our deliveries to different vehicles based on the size and weight of the items you need delivered. You can also put in the notes section that you would like a car/van.
        </p>
      </div>
      <h3>How will I know when my items have been delivered?
      </h3>
      <div>
        <p>Email. You’ll be sent a notification immediately when a Zipster is assigned to you, when the package is picked up and when the package is received. You will also have access to see who signed for the package at each location. Of course, if there are ever any issues, you can always reach us at support@goziply.com.

        </p>
      </div>
      <h3>How do you ensure qualified couriers will be handling my deliveries?
      </h3>
      <div>
        <p>Ziply is committed to best-in-class courier operations, and Abuot Usall Ziply couriers are individually recruited and vetted by us. The courier workforce is led by a dedicated team member with 20-plus years of experience in local, same-day delivery.

          A key component of our quality control is full transparency: As soon as a Zipster is dispatched for your job, you'll receive the assigned courier's Ziply profile, which includes a photo, professional background and performance history.

          Finally, Ziply values consistency of service. To that end, we are designing a training program all Zipsters must pass before entering our workforce. Our training will include service protocols and key safety measures, and we'll require strict adherence from Zipsters who have joined our network.

        </p>
      </div>
      <h3>How do I become a verified Zipster?
      </h3>
      <div>
        <p>Go <a href="/become-driver">here</a> to fill out some quick info. If Ziply has opportunities in your area, a courier manager will be in touch within a few days!

        </p>
      </div>
      <h3>How do I join the Ziply team?
      </h3>
      <div>
        <p>Take a look at our careers page to see current job openings and email us at careers@goziply.com if you feel you’re a good fit! Interested in becoming a courier? <a href="/become-driver">Join us here!</a>
        </p>
      </div>
      <h3>Can I cancel or modify a job after I've posted it to Ziply?
      </h3>
      <div>
        <p>You can cancel a job at any time before the job has been assigned to a Zipster. Just look for "Active Shipments" under the Shipments icon. There you can see all deliveries pending and are free to delete the job, as long as it hasn't yet been assigned.
        </p>
      </div>
      <h3>How much does delivery cost on Ziply?
      </h3>
      <div>
        <p>Ziply pricing is based on package size and distance of travel. <a href="/customer/jobs/new ">Click here</a> to get your estimate and schedule on-demand shipping now.
        </p>
      </div>
      <h3>How will I get charged for my deliveries?
      </h3>
      <div>
        <p>Ziply strives to provide the most efficient, secure payment processing possible. We process all payments through PayPal, one of the most secure online payment processing services available. Payments can be made either directly via your credit card or through your PayPal account. If you'd like to keep your card information on file for faster billing, you can also store it securely with PayPal.

          Ziply also allows you to pre-authorize payments against a set of restrictions you establish. This may be useful if you have a delayed fulfillment process and want to ensure payment coverage for future deliveries. It also saves time by skipping the PayPal payment process for each transaction.

          We'll soon be offering flexible invoicing options for customers with frequent delivery needs.

        </p>
      </div>
      <h3>What if I'm not satisfied with my delivery service?
      </h3>
      <div>
        <p>We hope that’s not the case, so we want your feedback! After each delivery, Ziply lets you rate your Zipster in three categories: speed, package care and overall satisfaction. Feedback is stored in our system and is made available to our Zipsters, which allows us to continually improve our system and provide customers with the best service possible. To further ensure you peace of mind, we've also implemented insurance coverage on each delivery up to $250.


        </p>
      </div>
    </div>
    <div class="contact_btn" id="contact_btn_1">
      <h2>Didn’t find what you were looking for? </h2>
      <a class="z_orngxbig_btn" href="/contact-us">Contact Us</a>
    </div>
  </div>
</section><!-- About -->

<script type="text/javascript">
    $(function() {
        $( "#accordion" ).accordion();
    });
</script>
