<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Drivers
      <small>Edit , Block and More</small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="/super_admin/dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="/super_admin/drivers">All Drivers</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="map" style="min-height: 500px">
  </div>
</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtKZXVM_F0uVKcDAN9QHRe_5JHu7lmICM"-->
<!--type="text/javascript"></script>-->
<!--<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>-->
<script>
    $(document).ready(function () {
//        initialize();
        initMap();
    })
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsVAID_qXayvJ4lKtnJsZlZTuCn_0MPjw&callback=initMap&sensor=false&libraries=places"></script>
<script>
    //    var myLatLng = {lat: <%#= @driver.latitude %>, lng: <%#= @driver.longitude %>};
    //    var map;
    //    function set_position(new_position) {
    //        map.setCenter(new_position);
    //    }
    //    function initMap() {
    //
    //        map = new google.maps.Map(document.getElementById('map'), {
    //            zoom: 8,
    //            center: myLatLng
    //        });
    //
    //        var marker = new google.maps.Marker({
    //            position: myLatLng,
    //            map: map,
    //            icon: "/assets/11.png"
    //        });
    //
    //        setInterval(function () {
    //            $.ajax({
    //                url: '/super_admin/drivers/get_lat_long?id=<%#= @driver.id %>',
    //                type: 'get',
    //                dataType: 'json',
    //                processData: false,
    //                success: function (data) {
    //                    position = new google.maps.LatLng(data["driver1"].latitude, data["driver1"].longitude);
    //                }
    //            })
    //            marker.setPosition()
    //        }, 5000);
    //    }


</script>

<script>
    var map;
    function initMap() {
        var myLatlng = new google.maps.LatLng('<%= @driver_lat_long.latitude.present? ? @driver_lat_long.latitude : 31.234 %>', '<%= @driver_lat_long.longitude.present? ? @driver_lat_long.longitude : 71.222 %>');
        var mapOptions = {
            zoom: 25,
            center: myLatlng
        }
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title: "Hello World!"
        });

        marker.setMap(map);
        setInterval(function () {
            $.ajax({
                url: '/super_admin/drivers/get_lat_long?id=<%= @driver.id %>',
                type: 'get',
                dataType: 'json',
                processData: false,
                success: function (data) {
                    var myLatlng1 = new google.maps.LatLng(data["updated_lat_long"].latitude, data["updated_lat_long"].longitude);
                    marker.setPosition(myLatlng1);
                    map.setCenter(myLatlng1)

                }
            })
        }, 5000);
    }
</script>

<script>
    //    function initialize() {
    //        var mytourLatlng = new google.maps.LatLng(<%#= @driver.latitude %>, <%#= @driver.itude %>);
    //        var mapOptions = {
    //            zoom: 19,
    //            disableDefaultUI: true,
    //            center: mytourLatlng
    //        };
    //        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    //
    //        var image = '/assets/11.png';
    //        var tour_marker = new google.maps.Marker({
    //            position: mytourLatlng,
    //            map: map,
    //            title: 'title of map',
    //            icon: image
    //        });
    //
    //        var image = '/assets/icon-current-location.png';
    //        marker_position = new google.maps.Marker({
    //            //            position: mytourLatlng,
    //            map: map,
    //            icon: image
    //        });
    //
    //    }
</script>
