ul.resp-tabs-list, p {
	margin: 0px;
	padding: 0px;
}
ul.resp-tabs-list {
	margin: 0px;
	padding: 0px;
	display: table;
	width: 100%;
}
.resp-tabs-list li {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	display: table-cell;
	padding: 5px 39px 18px 36px;
	margin: 0;
	list-style: none;
	cursor: pointer;
	color: #fff;
	width: 31%;
	box-sizing: border-box;
	max-width: 176px;
	margin-right: 18.46%;
	float: left;
}
.resp-tabs-list li:nth-child(2) {
	margin-right: 14%;
}
.resp-tabs-list li:last-child {
	margin-right: 0;
}
.resp-tabs-container {
  clear: left;
  width: 100%;
  box-sizing: border-box;
  padding: 22px 0 0 59px;
  max-width: 683px;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 15px;
}
.resp-tab-active {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	border-bottom: 2px solid #ff8400;
	border-bottom: none;
}
.resp-tab-active {
	border-bottom: 2px solid #ff8400;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
}
.resp-tabs-container h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0px;
  margin-bottom:16px;
}
.resp-tabs-container p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}



















